
.btn.btn-outline-info {
  left: 6%;
  position: relative;
  width: 80%;
  margin-top: 8%;
  background-color: #204051;
  color: #fff;
  text-align: center;

}
      

      label {
        display: table;
        margin-bottom: 1%;
        margin-top: 1%;
        color: #486a6a;
    }

      .form-control-file {
        display: block;
        width: 63%;
        font-size: 91%;
        margin-left: -2%;
        margin-top: 1%;
    }

      .form-group {
        margin-bottom: 0rem;
    }

      .mr1-2{
        margin-right: .4rem !important;
        font-size: 22px;}
        .mb-4 {
          margin-bottom: 1.5rem !important;
          color:  #486a6a;
}
        
      .signin-box-form {
        width: 44%;
        font-family: 'Roboto Slab';
        margin-top: 25%;
        background: whitesmoke;
        border-radius: 13px;
        margin-left: 29%;
        margin-bottom: 12px;
        box-shadow: 0px 1px 10px #9b9b9b;
        text-shadow: 0px 1px 1px #e1e1e1;
       
}
        form{
          border-top: none;
        }


      .signin-area-form {
        padding: 7%;
        margin-top: -44%;}

      

@media all and (max-width: 780px) { 
  .form-control-lg{font-size: 13px;}
  .signin-box-form {width: 90%;
    margin-top: 11%;}
  .mb-4{font-size: 26px;}
  .btn.btn-outline-info{
   left:4%;}
   .signin-area-form {
    padding: 37px;
}
.btn-back .fas.fa-backward{
      margin-left: -3%;
  
}

}

a:hover {
  color: #cbd5db;
  text-decoration: underline;}

.misviajes ul {list-style:none;}

.dropdown-menu {
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    width: 30%;
    border-radius: 22px;
    padding: 7px 12%;
    border-width: 2px;
    border-color: #204051;
}
.misviajes li {
  border-bottom: solid thin #CCC;
  padding: 10px;
  white-space: nowrap;
}
  a { color: #51B2D6;
}