.JwPp0e {
  display: -webkit-inline-box;
  -webkit-flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-top:  6.5rem;;
}

.Y5vSD{
  color:#486a6a;
  
}
.gHz6xd {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  height: 35.375rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 24.75rem;
  margin-top: -23%;

}

.Aopndd {
background-color: white;
/* border: .0625rem solid #000000; */
border-radius: 1.3rem;
box-shadow: 0px 1px 6px #424242;
}
.Tc9hUd {
  position: relative;
}
.OjOEXb, .ZizeYd, .O7utsb, .ZmqAt {
  height: 108%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.onkcGd, .onkcGd:visited {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.prWPdf {
  position: relative;
}
.kj3hr.YVvGBb.jJIbcc {
font-size: 11px;
margin-top: 9%;
margin-left: -42%;
}

.YVvGBb {
  
  display: flex;
  color: #fff;;
  font-size: 71%;
  margin-bottom: 14px;
  text-shadow: 0px 1px 4px #1c1c1c;

}
.YVvGBb.csjh4b {
overflow: visible;
white-space: nowrap;
margin-top: 8%;
margin-bottom: 0px;
margin-left: 23%;
}
.onkcGd, .onkcGd:visited {

  cursor: pointer;
  text-decoration: none;
}
.QRiHXd {
  -webkit-align-items: center;
  display: -webkit-box;
  -webkit-flex-direction: row;
  
}
.kj3hr {
  color: #fff;
  display: block;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
}

.jJIbcc {
  position: relative;
}
.YVvGBb {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 
}
.TQYOZc {
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: 0;
  padding: 1rem;
  padding-top: 0.75rem;
}

.article-imgcal {
border-radius: 50%;
float: left;
height: 3.688rem;
position: relative;
margin-top: -17%;
width: 3.688rem;
margin-bottom: 12%;
margin-left: -1%;
}
.SZ0kZe {
  border-top: .0625rem solid #e0e0e0;
  line-height: 0;
  padding: 0.25rem;
}
.F2CcI, .SZ0kZe {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}
.article-img {
  height: 150px;
  width: 150px;
  margin-right: 42px;
  margin-left: 31%;
  margin-top: -4%;
}

.oriaccount{
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #204051;;
  font-size: 12px;
  height: 78px;
}
.desaccount{
  display: inherit;
  margin-top: -3%;
  margin-bottom: 22px;
  text-transform: uppercase;
  color:  #204051;;
  font-size: 12px;
  height: 78px;
}
.fecaccount{
  margin-top: -3%;
  margin-bottom: 22px;
  text-transform: uppercase;
  color:  #204051;;
  font-size: 12px;
  height: 60px;
}
.horaccount{
  margin-top: -3%;
  margin-bottom: -3px;
  text-transform: uppercase;
  color:  #204051;
  font-size: 12px;
  height: 80px;
}
.costoestimado {
  margin-top: -22%;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: #204051;
  font-size: 12px;
  height: 76px;
  margin-left: 44%;
}
.cost{

  font-size: 20px;
  margin-top: -5%;
  margin-left: 9%;

}
.commentary{
  margin-top: -6%;
  text-transform: uppercase;
  color: #204051;
  font-size: 12px;
  height: 80px;
}
.seatsccount {
margin-top: -27%;
margin-bottom: -3px;
text-transform: uppercase;
color:  #204051;
font-size: 12px;
margin-left: 49%;
text-align: center;
display: revert;
}
.seatssize {
font-size: 25px;
color: #204051;
width: 0%;
border-radius: 25px;
text-align: center;
margin-left: 44%;
text-shadow: 0px 0px 2px #bfbfbf;
}
.statusRequestPend {
  margin-top: 3%;
  margin-bottom: -11%;
  text-align: center;
  color: #e67c0b;
  text-shadow: 0px 0px 1px #c8c5c5;
}

.statusRequestAcep {
  margin-top: 3%;
  margin-bottom: -11%;
  text-align: center;
  color: #129612;
  text-shadow: 0px 0px 1px #c8c5c5;
}
.statusRequestTra {
  margin-top: 3%;
  margin-bottom: -11%;
  text-align: center;
  color: rgb(187, 120, 33);
  text-shadow: 0px 0px 1px #c8c5c5;
}
.statusRequestRech {
  margin-top: 3%;
  margin-bottom: -11%;
  text-align: center;
  color: #9e1313;
  text-shadow: 0px 0px 1px #c8c5c5;
}
.statusRequestCanc {
  margin-top: 3%;
  margin-bottom: -11%;
  text-align: center;
  color: #9e1313;
  text-shadow: 0px 0px 1px #c8c5c5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #7bc087;
  text-shadow: 0px 0px 0px #acacac;
}

form.traveldata{
  border-top: 1px solid #204051;
  margin-top: 11%;
}
.btn-downtravel {
padding: 6px;
transition: 0.3s;
font-size: 14px;
border-radius: 10px;
background-color: #486a6a;
color: #fff;
display: inherit;
text-align: center;
margin-top: 0%;
width: 100%;
border-color: transparent;
}
#banner1 {
  align-items: center;
  display: -webkit-box;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0;
  position: relative;
  overflow: hidden;

}
      
        #banner1 .inner {
          -moz-transform: scale(1.0);
          -webkit-transform: scale(1.0);
          -ms-transform: scale(1.0);
          transform: scale(1.0);
          -moz-transition: opacity 1s ease, -moz-transform 1s ease;
          -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          -ms-transition: opacity 1s ease, -ms-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
          opacity: 1;
          position: relative;
          z-index: 2;
        }
        #banner1 h1 {
          font-size: 74px;
          line-height: 1.1;
          font-family: 'Open Sans', sans-serif;
          margin-bottom: 2.25em;
          color: rgb(72 106 106);
          text-shadow: -1px 0px 0 rgb(0 0 0 / 13%);
          text-transform: none;
          margin-top: -12%;
          margin-left: -63%;
      }
      
      
      
      @-moz-keyframes more {
        0% {
          bottom: -3em;
        }
      
        100% {
          bottom: 2em;
        }
      }
      
      @-webkit-keyframes more {
        0% {
          bottom: -3em;
        }
      
        100% {
          bottom: 2em;
        }
      }
      
      @-ms-keyframes more {
        0% {
          bottom: -3em;
        }
      
        100% {
          bottom: 2em;
        }
      }
      
      @keyframes more {
        0% {
          bottom: -3em;
        }
      
        100% {
          bottom: 2em;
        }
      }
      
       
      
        @media screen and (max-width: 980px) {
      
          #banner1 {
            font-size: .85em;
          }
      
            #banner1 br {
              display: none;
            }
      
        }
      
        @media screen and (max-width: 736px) {
      
          #banner1 {
            background-attachment: scroll;
            min-height: 0;
            padding: 8em 2em 4em 2em;
          }
      
            #banner1 h1 {
              font-size: 6em;
            }
      
        }
      
        @media screen and (max-width: 480px) {
      
          #banner1 h1 {
            font-size: 4em;
          }
      
          #banner1 .more {
            display: none;
          }
      
        }
        
    
        .but-slider {
          display: flex;
          margin-top: -18%;
          margin-left: -56%;
      }
      
      .btn2{
        width: 40%;
      }
      
      .row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -6%;
          margin-left: -15px;
          margin-top: 60px;
      }
      
      .btn {
          display: inline-block;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border: 1px solid transparent;
          line-height: 1.5;
          border-radius: .25rem;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          width: 180px;
          margin: 10px;}
      
      
          .btnprofile {
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border: 3px solid #f9f9f9;
            line-height: 2.5;
            border-radius: 3.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            width: 23%;
            margin-top: 4%;
            margin-left: 24%;
            margin-right: -22%;
        }
        
        .btn-filledprofile {
            background: #486a6a;
            color: #fff;
            line-height: 3.5;
            border-radius: 16.25rem;
        }
        
        .btnprofile1 {
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          border: 3px solid #f9f9f9;
          line-height: 3.5;
          border-radius: 3.25rem;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          width: 23%;
          margin-top: 4%;
          margin-left: 25%;
      }
      
      .profiletitle{
        margin-top: 10%;}

        .text-travelnull {
          margin-top: 12%;
          color: #478080;
          margin-bottom: 100%;
          font-size: 67px;
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          text-align: center;
      }
/*****************************************************BOTONES CIRCULOS*******************************************************************/

.prueba.fin {
  display: table-row;
  margin-bottom: -93%;
  margin-top: 6.8%;
  margin-left: 60%;
  width: 19%;}


.prueba .statustravel1 span:first-child {
  display: inline-block;
  padding: 10px;
}
.prueba .statustravel1 {
  position: relative;
  overflow: hidden;
  width: 165%;
  text-align: center;
  margin-left: -134%;
  margin-bottom: 106px;
  color: #3941418a;
  z-index: 100;
}
.prueba .statustravel1.fin {
  position: relative;
  overflow: hidden;
  width: 165%;
  text-align: center;
  margin-left: -134%;
  margin-bottom: 429%;
  color: #3941418a;
  z-index: 100;
}

.prueba .statustravel1 span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  color: #204051;
  font-size: 16px;
  background-color: #b4b8bc;
  border-radius: 16px;
  height: 24px;
        }
  .prueba .statustravel1 span {
  transition: transform 0.2s ease-out;
}
 
.prueba .statustravel1:hover span:first-child {
  transform: translateY(100%);
}
 
.prueba .statustravel1:hover span:last-child {
  transform: none;
}
.prueba [data-animation="to-top"] .statustravel1 span:last-child {
  transform: translateY(100%);
}
 
.prueba [data-animation="to-top"] .statustravel1:hover span:first-child {
  transform: translateY(-100%);
}
 
.prueba [data-animation="to-right"] .statustravel1 span:last-child {
  transform: translateX(-100%);
}
 
.prueba [data-animation="to-right"] .statustravel1:hover span:first-child {
  transform: translateX(100%);
}
 
.prueba [data-animation="to-left"] .statustravel1 span:last-child {
  transform: translateX(100%);
}
 
.prueba [data-animation="to-left"] .statustravel1:hover span:first-child {
  transform: translateX(-100%);
}
