body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
    margin-left: 0%;
    margin-top: -11%;
}
.myAlert-top {
    position: fixed;
    top: 61px;
    left: 41%;
    width: 21%;
}



div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}


hr {
    margin-top: 9%;
    margin-bottom: 22px;
    border: 12px;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 12px;
    border-top: 4px solid rgba(0,0,0,.1);
}

.btn.btn-default.dropdown-toggle {
    background-color: transparent;
    color: #cbd5db;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
    margin-left: 17%;
    width: 26%;
    margin-top: 8%;
}

  .misviajes li {
    border-bottom: solid thin #CCC;
    padding: 10px;
    white-space: nowrap;
  }


.card {
    position: relative;
    width: 100%;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 2px 5px #4f4f4f;
    
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 500px;
}
.card-body1 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
    height: 547px;
    width: 100%;
    margin-top: -10%;
}
.card-body2 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 475px;
    width: 100%;
}


.card-body3{
-webkit-box-flex: 0;
margin-left: 5%;
max-width: 33%;}


.card.mb-3{
    width: 113%;;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
    font-size: 13px;
    margin-left: -5%;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.row {
  
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 11%;
}
.text-center {
    text-align: center !important;
}
.col-sm-6.mb-3{

    border: none;
    margin-top: -6%;
}
.col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33%;
    max-width: 33%;
}

.col-md-8 {
    -webkit-box-flex: 0;
    flex: 0 0 33.66667%;
    max-width: 33.6666667%;
}
.col-sm-9.text-secondary {
    font-size: 13px;
    text-align: left;
    color:#525b60 !important
    
}
.col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 100%;
    margin-left: 24%;
    text-align: left;
    margin-top: -4%;
}
.text-secondary.mb-1{
    margin-left: 0%;
}
.text-secondary1{
    color:#204051;
    font-size: 13px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #204051;
    }
    .card.mt-3 {
        margin-left: 0%;
        box-shadow: none;
        width: 100%;
    }
    .octicon.octicon-pencil-profile {
        margin-left: 96%;
        margin-top: 5%;
        fill: #204051;
    }
.align-items-center {
  
    align-items: center !important;
}
.flex-column {
   
    flex-direction: column !important;
}
.d-flex {
    
    display: flex !important;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 32%;
    height: 123px;}
.btn.btn-primary{
    margin-top: 13%;
}
  
.cantscoresgood{
    color: #8fbf8b;
    font-size: 14px;
    margin-top: -5%;
    margin-left: 24%;
 }
 .cantscoresbad{
    color: #ca5656;
    font-size: 14px;
    margin-top: -5%;
    margin-left: 33%;
}
.col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 10%;
    max-width: 25%;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
.cantscores{
    display: flex;
    margin-left: -4%;
    font-size: 12px;
    margin-top: 4%;
}
.text-score {
    text-align: center;
    font-size: 23px;
    margin-top: 9%;
    margin-bottom: 31px;
    text-decoration: underline;

}
.text-score1 {
    text-align: center;
    font-size: 23px;
    text-decoration: underline;
    color:#204051;

}
.text-scorenull{  
    text-align: center;
    color: #ca5656;

}

.kj3hr.YVvGBb.jJIbcc {
    font-size: 11px;
    margin-top: 3%;
}

.JwPp0e {
    display: flex;
    -webkit-flex-wrap: wrap;
    padding-left: 10%;
    margin-bottom: -5px;
    
}

.Y5vSD {
    color: #204051;
    font-size: 13px;
  
}

.gHz6xd {
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    height:10.375rem;
    margin-bottom: 1.5rem;
    margin-right: -0.5rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 16.75rem;
}
.Aopndd {
    background-color:transparent;
    border: .0625rem solid #dadce0;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px #4f4f4f;
}
.Tc9hUd {
    position: relative;
}
.OjOEXb, .ZizeYd, .O7utsb, .ZmqAt {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.onkcGd, .onkcGd:visited {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
.prWPdf {
    position: relative;
    margin-top: 5%;
    margin-left: 2%;
}
.kj3hr {
    color: #204051;;
    display: block;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
}

.YVvGBb {
    
    display: table-cell;
    color: #fff;;
    font-size: 20px;
    margin-bottom: 14px;
    text-shadow: 0px 1px 4px #1c1c1c;

}
.YVvGBb.csjh4b {
    overflow: visible;
    white-space: nowrap;
    margin-top: 6%;
    margin-bottom: 3px;
    margin-left: 6%;
    font-size: 15px;
}
.onkcGd, .onkcGd:visited {

    cursor: pointer;
    text-decoration: none;
}
.QRiHXd {
    -webkit-align-items: center;
    display: -webkit-box;
    -webkit-flex-direction: row;
    
}
.kj3hr {
    color: #fff;
    display: block;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
}

.jJIbcc {
    position: relative;
}
.YVvGBb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
   
}
.TQYOZc {
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-height: 0;
    padding: 1rem;
    padding-top: 0.75rem;
}

.article-imgcal {
    border-radius: 50%;
    float: right;
    height: 4.6875rem;
    position: relative;
    margin-top: -4.094rem;
    width: 4.6875rem;
}
.SZ0kZe {
    border-top: .0625rem solid #e0e0e0;
    line-height: 0;
    padding: 0.25rem;
}
.F2CcI, .SZ0kZe {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
}



scroll-container {
  display: block;
  width: 350px;
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
  box-shadow: 0px 2px 5px #4f4f4f;
  border-radius: 12px;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

#banner {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

    #banner .inner {
      -moz-transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -ms-transform: scale(1.0);
      transform: scale(1.0);
      -moz-transition: opacity 1s ease, -moz-transform 1s ease;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      -ms-transition: opacity 1s ease, -ms-transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1;
      position: relative;
      z-index: 2;
    }
  
    #banner h1 {
      font-size: 74px;
      line-height: 1.1;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 2.25em;
      color: rgba(255, 255, 255, 0.75);
      text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
      text-transform: none;
      margin-top: -12%;
      margin-left: -63%;
  }
  #banner p {
    color: rgb(202, 86, 86);
    font-size: 13px;
}
  
  @-moz-keyframes more {
    0% {
      bottom: -3em;
    }
  
    100% {
      bottom: 2em;
    }
  }
  
  @-webkit-keyframes more {
    0% {
      bottom: -3em;
    }
  
    100% {
      bottom: 2em;
    }
  }
  
  @-ms-keyframes more {
    0% {
      bottom: -3em;
    }
  
    100% {
      bottom: 2em;
    }
  }
  
  @keyframes more {
    0% {
      bottom: -3em;
    }
  
    100% {
      bottom: 2em;
    }
  }
  
   
  
    @media screen and (max-width: 980px) {
  
      #banner {
        font-size: .85em;
      }
  
        #banner br {
          display: none;
        }
  
    }
  
    @media screen and (max-width: 736px) {
  
      #banner {
        background-attachment: scroll;
        min-height: 0;
        padding: 8em 2em 4em 2em;
      }
  
        #banner h1 {
          font-size: 6em;
        }
  
    }
  
    @media screen and (max-width: 480px) {
  
      #banner h1 {
        font-size: 4em;
      }
  
      #banner .more {
        display: none;
      }
  
    }
  

