<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecotravel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main_home.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="home1">Ecotravel <span></span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home1">Inicio</a></li>
				</ul>
			</nav>

			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Bienvenido a <span> Ecotravel </span></h1>
					</header>
					
                                    <div class="but-slider">
                                        <a class="btn btn-lg btn-filled boton-usa-plataforma" href="{{ url_for('login') }}">Iniciar sesión</a>
                                        <a class="btn btn-lg btn-filled boton-usa-plataforma" href="{{ url_for('register') }}">Registrarse</a>
                                    </div>    
       
				</div>
				<a href="#one" class="more"></a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>¿Qué es Ecotravel?</h2>
						</header>
						<div class="content">
                            <p>Es una plataforma de comunicación interpersonal que permite compartir viajes en auto entre ciudades de Argentina.</p>
                            <br></br>
                              <h2>Beneficios</h2>
                              <p>A medida que ahorremos más dinero, conocerá nuevos amigos, podrá viajar de manera cómoda y segura, reduciendo el tiempo, especialmente para proteger el medio ambiente.</p>
                        </div>

				<a href="#two" class="more">Learn More</a>
            </section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>¿Cuál es el costo del viaje?</h2>
						</header>
						<div class="content">
                            <p>No hay una tarifa fija. Los gastos son divididos de manera equitativa entre todos los pasajeros. El valor puede a variar dependiendo de la distancia, peajes y combustible utilizado.</p>
                             <br></br>
                            <h2>¿Para qué tipos de viaje puedo usar Ecotravel?</h2>
                            <p> Ecotravel te permite buscar o crear viajes de corta y larga distancia. Los viajes son creados por el usuario determinando el destino y horario </p>
						</div>
						
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Impacto ambiental</h2>
						</header>
						<div class="content">
							<p>Cada vez que persona deciden compartir un viaje en un mismo auto, pueden evitar emitir 150 gr de dióxido de carbono a la atmósfera, este es uno de los principales gases que causan el efecto invernadero y pueden evitar el consumo de dióxido de carbono. 0,071 litros de nafta es una fuente de energía no renovable, por lo que debe usarse de manera razonable..</p>
						</div>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>¿Cómo coordino un viaje? </h2>
						</header>
						<div class="content">
							<p></p>
						</div>
						<footer>
							<a href="{{ url_for('generic') }}" class="button alt">Ver condiciones</a>
						</footer>
					</article>
				</div>
			</section>
            
            <section class="hero">
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>EcoTravel</strong> by Damian Lacomba / Juan Ignacio Pullaro
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2020</<span>
        </p>
      </div>
  </footer>
</section>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>




