{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}>

                                <div class="column is-auto">
                                    <p class="subtitle is-4"><i>Encontrá quien sera tu próximo compañero de viaje!</i></p>
                                    <p class="subtitle1"><i>¿Cual sera tu siguente paso?</i></p>
                                    <div class="but-slider">
                                    <a class="btn btn-lg btn-filled boton-usa-plataforma" href="{{ url_for('search_travels') }}">Buscar Viaje</a>
                                    <a class="btn btn-lg btn-filled boton-usa-plataforma" href="{{ url_for('create_travel') }}">Crear Viaje</a>
                                        
                                    </div>    
                                </div>
                          
{% for travel in travels %}

<div data-v-375120dc="" class="panel panel-default panel-card card card-trip card-trip-theme-default">
  <div class="driver"><img src="{{'/static/profile_pics/' + travel.driver.image_file}}"></img><h3>{{ travel.driver.name}} {{ travel.driver.surname}}</h3></div> 
  <p class="stars"> {% for i in range (travel.driver.rating) %}★{%endfor%}</p> 
  <b>Origen:</b> {{travel.origin.location}}
  <br /><b>Destino:</b>  {{travel.dest.location}}
  <br /><b>Fecha:</b>  {{ travel.travel_date.strftime('%Y-%m-%d') }}
  <br /><b>Hora:</b>{{ travel.travel_hour }}
  <br /><b>Asientos disponibles:</b>{{ travel.seats }}
  <button class="btn-join-travel" onclick="jointravel(${travel.id})">Unirme al viaje</button></div>

</div>
 
{% endfor %} 
    

{% endblock body %}

