{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}>

<section id="main-slider">
  <div class="owl-carousel">
    <img class="item" src="static/slider/bn8.png" alt="">
          <div class="slider-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="column is-auto">
                          <p class="subtitle is-4"><i>¡Encontrá a tu próximo <br>compañero de viaje!</br></i></p>
                          <p class="subtitle1"><i>¿Cuál es tu siguiente paso?</i></p>
                          
                         <div class="profiletitle">
                        
                          <div class="but-slider">
                          <a class="btnprofile btn-lg btn-filledprofile boton-usa-plataforma" href="{{ url_for('search_travels') }}">Buscar Viaje</a>
                          <a class="btnprofile1 btn-lg btn-filledprofile boton-usa-plataforma" href="{{ url_for('create_travel') }}">Crear Viaje</a>
                         </div>
                        
                      </div>
                  </div>
                  <p class="subtitle2"><i>Explará los viajes disponibles</i></p>
                  <a href="#travels" class="more" > </a>
              </div>
          </div>
          
      </div><!--/.item-->
 </div>    
 </div>
 <section id="travels">                    
{% for travel in travels %}
<div class="popup-map">
  <div class="driver"><img src="{{'/static/profile_pics/' + travel.driver.image_file}}"></img>
     <h3>{{ travel.driver.name|capitalize}} {{ travel.driver.surname|capitalize}} 
        <div class="stars"><br />{% for i in range (travel.driver.rating) %}★{%endfor%} </div> </h3>
  </div>
  <div class="data"> <div class="ori">
       <i class="fa fa-map-marker" aria-hidden="true"></i> {{travel.origin.location}} 
    </div>
    <div class="des"><br />
      <i class="fa fa-map-marker des" aria-hidden="true"></i>  {{travel.dest.location}} </div>
    <div class="fec"> 
      <i class="fa fa-calendar" aria-hidden="true"></i>
          <script>
              var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
              var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
              var f=new Date('{{ travel.travel_date.strftime("%Y-%m-%d") }}'  );
              document.write(diasSemana[f.getDay()] + ", " + (f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
          </script> 
    </div>
    <div class="hor"> {{ travel.travel_hour }}
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </div>
  
<div class="glob">
    <div class="cantDisp">{{ travel.seats }}</div> <div  class="dis"><br />Asientos disponibles </div>
</div> </div>
  <button class="btn-join-travel" onclick="jointravel(${travel.id})">Unirme al viaje</button></div> 
</div>

{% endfor %}
</section> 
{% endblock body %}

