<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{% block title %}{% endblock %} - Ecotravel</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">

  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto+Slab&display=swap"
    rel="stylesheet">

  <!-- Leflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

</head>

<body>
  <header class="nav-bar">
    <a href="/" class="home-link">Ecotravel</a>
    <ul>
      <li><a href="/account">Cuenta</a></li>
      <li><a href="/logout">Salir</a></li>
    </ul>
  </header>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <p> <strong>EcoTravel</strong> by Damian Lacomba / Juan Ignacio Pullaro </p>
  </footer>
  <script src="{{ url_for('static', filename = 'main.js') }}"></script>

</body>

</html>