{% extends "base.html" %}
{% block body %}
{% include "navbar_v2.html" %}
{% include"help.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/form.css') }}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{%for category, message in messages%}
    {% if category == "success" %}
    <div id="modal-join-success"  class="myAlert-top alert1 alert-success" style="display: flex;z-index: 1;height: 43px;border-radius: 12px;padding: 9px;width: 34%;margin-top: 6%;margin-bottom: -3%;margin-left: 29%;">
        <strong style="margin-right: 1%; display: flex;"></strong> ¡Su viaje fue actualizado correctamente! 
        <a href="/usertravelcreate" class="alert-link" style=" margin-left: 1%;"> Volver a mis viajes</a>
    </div>
    {% endif%}
{% endfor %}
{% endif %}
{%endwith%}
<div id="signin-box-form" class="signin-box-form">
    <div class="signin-area-form">
        <a class="btn-back" href="{{ url_for('usertravelcreate') }}" style="font-size: 14px;color: #204051;margin-left: 85%;"> <i class="fas fa-backward" style="margin-right: 2%;
            margin-left: -2%;font-size: 13px;"></i>Volver</a>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Actualizá tu viaje</legend>
                    <div class="form-group">
                        {{ form.origin.label(class="form-control-label") }} 
                        {% if form.origin.errors %}
                            {{ form.origin(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.origin.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.origin(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.destination.label(class="form-control-label") }}
                        {% if form.destination.errors %}
                            {{ form.destination(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.destination.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.destination(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.travel_date.label(class="form-control-label",type="date") }}
                        {% if form.travel_date.errors %}
                            {{ form.travel_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.travel_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.travel_date(class="form-control form-control-lg",type="date") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.travel_time.label(class="form-control-label") }}
                        {% if form.travel_time.errors %}
                            {{ form.travel_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.travel_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.travel_time(class="form-control form-control-lg",type="time") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.travel_time_f.label(class="form-control-label") }}
                        {% if form.travel_time_f.errors %}
                            {{ form.travel_time_f(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.travel_time_f.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.travel_time_f(class="form-control form-control-lg",type="time") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.seats.label(class="form-control-label") }}
                        {% if form.seats.errors %}
                            {{ form.seats(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.seats.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.seats(class="form-control form-control-lg") }}
                        {% endif %}
                    </div> 
                    <div class="form-group">
                        {{ form.amount.label(class="form-control-label") }} 
                        {% if form.amount.errors %}
                            {{ form.amount(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.amount.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.amount(class="form-control form-control-lg" ,type="number")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.commentary.label(class="form-control-label") }} 
                        {% if form.commentary.errors %}
                            {{ form.commentary(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.commentary.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.commentary(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>       
                </fieldset>
                <div class="form-group">
                    {{ form.submit1(class="btn btn-outline-info") }}
                </div>   
            </form>
    </div>
</div>

<script>
    setTimeout(function(){$(".myAlert-top").hide();}, 6000);
</script>

{% endblock body %}

