<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ecotravel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main_home.css" />
	</head>
	<body class="subpage">

			<section id="post" class="wrapper bg-img" data-bg="banner-8.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Conductores</h2>
							
						</header>
						<div class="content">
							<p>Cuando cargues el viaje, te recomendamos detallar lo mejor posible la información para evitar consultas repetitivas de parte de los interesados en tu viaje. Para ello utilizá el campo “Comentario”. Ahí podrás informar el espacio disponible para equipaje, modalidad de viaje y cualquier otro dato adicional que consideres relevante. </p>

							<p>Es importante que te comuniques con tus pasajeros vía mensaje para terminar de coordinar detalles y las condiciones del viaje. Te sugerimos que en esta instancia les pidas un contacto telefónico para una comunicación más precisa llegada la fecha del viaje.</p>

							<p>Recordá que ambos deben estar de acuerdo y al tanto de las condiciones del viaje para evitar malentendidos con respecto a horarios, puntos de encuentro,llegada, equipaje, contribución para combustible, peaje y demás información fundamental.
							Te recomendamos coordinar y subir a tus pasajeros utilizando la plataforma Ecotravel para luego acceder a la posibilidad de calificarlos al terminar el viaje.</p>

							<header>
							<h2>Pasajeros</h2>
							
						</header>
						<div class="content">
							<p>Una vez que encontraste un viaje que te sirve, le solicitás el asiento al conductor en el boton de "Unirme al viaje" y él aceptara o rechazara tu solicitud. Vas a poder ver en todo momento el estado de tu solicitud en la pestaña de "Solicitudes a viajes".  </p>

							<p>Es importante que ambos estén de acuerdo en las condiciones y detalles del viaje a la hora de confirmarlo. Asegurate de que no hay dudas sobre el punto de encuentro, el horario, la disponibilidad de espacio para equipaje, la cantidad total de pasajeros ,la contribución por los gastos de combustible y peaje. Te sugerimos pedir el número de teléfono del conductor para una comunicación más precisa llegada la fecha del viaje.</p>

							<p>Te recomendamos siempre subirte al viaje utilizando la plataforma de Ecotravel para luego acceder a la posibilidad de calificarlo al terminar el viaje. Recordá que para eso, debés solicitar asiento con el botón correspondiente y que la otra persona te acepte la solicitud. 
							Una vez que está todo coordinado y el conductor te confirma para compartir el viaje ¡ya sólo hay que esperar hasta el día del viaje! </p>
							</div>
							<footer>
								<a href="{{ url_for('home') }}" class="button alt">Volver</a>
							</footer>
					</article>
				</div>
			</section>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>