<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ecotravel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main_home.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="home1">Ecotravel <span></span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home1">Inicio</a></li>
					
				</ul>
			</nav>

			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Conductores</h2>
							
						</header>
						<div class="content">
							<p>Cuando cargues el viaje te recomendamos que detallar lo mejor posible la información sobre para evitar consultas repetitivas de parte de los interesados en tu viaje. Para ello utilizá el campo “Comentario para los pasajeros”. Ahí podrás informar cuál es la contribución por el viaje y el monto, el espacio disponible para equipaje, cuál es el máximo de pasajeros que llevarás en tu auto, dónde comienza y finaliza el mismo y cualquier otro dato adicional que consideres relevante. </p>

							<p>Es importante que te comuniques con tus pasajeros vía mensaje para terminar de coordinar detalles y las condiciones del viaje. Te sugerimos que en esta instancia les pidas un contacto telefónico para una comunicación más precisa llegada la fecha del viaje.</p>

							<p>Recordá que ambos deben estar de acuerdo y al tanto de las condiciones del viaje para evitar malentendidos con respecto a horarios, puntos de encuentro y llegada, equipaje, contribución para combustible y peaje y demás información fundamental.
							Te recomendamos coordinar y subir a tus pasajeros utilizando la plataforma de Carpoolear para luego acceder a la posibilidad de calificarlos al terminar el viaje.</p>

							<header>
							<h2>Pasajeros</h2>
							
						</header>
						<div class="content">
							<p>Una vez que encontraste un viaje que te sirve, enviá un mensaje vía la plataforma al conductor para aclarar los términos del mismo y coordinar los detalles. En ese mensaje podrás hacer consultas si ves que la descripción del viaje no tiene toda la información que precisás, o podés dejarle un contacto telefónico al conductor para que tenga otra alternativa de comunicación con vos. Una vez satisfechas las consultas y que ambos están de acuerdo con las condiciones del viaje, le solicitás el asiento al conductor y él acepta tu solicitud.  </p>

							<p>Es importante que ambos estén de acuerdo en las condiciones y detalles del viaje a la hora de confirmarlo. Asegurate de que no hay dudas sobre el punto de encuentro, el horario, la disponibilidad de espacio para equipaje, la cantidad total de pasajeros y la contribución por los gastos de combustible y peaje. También te sugerimos pedir el número de teléfono del conductor para una comunicación más precisa llegada la fecha del viaje.</p>

							<p>Te recomendamos siempre subirte al viaje utilizando la plataforma de Carpoolear para luego acceder a la posibilidad de calificarlo al terminar el viaje. Recordá que para eso, debés solicitar asiento con el botón correspondiente y que la otra persona te acepte la solicitud. Cuando te acepten, te llegará una notificación que podés ver verificar dentro de “Mis viajes".
							Una vez que está todo coordinado y el conductor te confirma para compartir el viaje ¡ya sólo hay que esperar hasta el día del viaje! </p>
							</div>
							<footer>
								<a href="{{ url_for('home') }}" class="button alt">Volver</a>
							</footer>
					</article>
				</div>
			</section>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>