{% extends "base.html" %}
{% block body %}
{% include "navbar_v2.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/passengerprofile.css') }}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<section id="banner" class="bg-img" data-bg="banner.jpg" style="background:#b0afad;">
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ image_file }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="cantscores ">         
                      <a class="cantscoresgood" href="#scores" ><i class="fas fa-thumbs-up" style="margin-left: 4%;"></i>{{scores1|length}}</a>
                      <a class="cantscoresbad" href="#scores"  ><i class="fas fa-thumbs-down" style="margin-left: 4%;"></i>{{scores2|length}}</a>
                     </div>   
                    <div class="mt-3">
                      <h4>{{user.name|capitalize}} {{user.surname|capitalize}}</h4>
                      <p class="text-secondary mb-1"></p>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-bottom: -6px;" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <a href="https://www.instagram.com/{{user.name}}/"><span class="text-secondary1">{{user.name|capitalize}}{{user.surname|capitalize}}</span></a>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="margin-bottom: -15px;">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-bottom: -6px;" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                            <a href="https://www.facebook.com/{{user.name}}{{user.surname}}/"><span class="text-secondary1" >{{user.name|capitalize}}{{user.surname|capitalize}}</span></a> 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body3">
              <scroll-container>
                <section id="scores">
                  <h2 class="text-score">Calificaciones</h2>
                  {% if scores|length == 0 %}
                    <p class="text-scorenull">Aún no recibiste calificaciones</p>
                  {%else%}  
                    {%for score in scores %}
                        {%if score.travel_driver_id==user.dni %}
                            <ol jsname="bN97Pc" class="JwPp0e">
                                <li class="gHz6xd Aopndd rZXyy">
                                    <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
                                        <div class="O7utsb bFjUmb-Tvm9db"></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 1 %} style="background-color:#54804bc7;box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 0 %} style="background-color:rgba(206, 60, 60, 0.87);box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="R4EiSb">
                                                <h2 class="prWPdf">
                                                    <a class="onkcGd kj3hr YVvGBb" target="_self" href="#" >
                                                    <div class="YVvGBb csjh4b">{{score.driver.name|capitalize}} {{score.driver.surname|capitalize}}
                                                      <div class="kj3hr YVvGBb jJIbcc">
                                                        <script>
                                                          var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                                          var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                                          var f=new Date('{{score.date_posted.strftime("%Y-%m-%d") }}'  );
                                                          document.write((f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                                       </script>
                                                       </div>
                                                        {%if score.point == 1%}
                                                        <i class="fas fa-thumbs-up" style="margin-left: 87%;margin-top: -14%;position: absolute;"></i>
                                                        {%else%}
                                                        <i class="fas fa-thumbs-down"style="margin-left: 87%;margin-top: -12.5%;position: absolute;"></i>
                                                        {%endif%}
                                                    </div></a>
                                                </h2>
                                            </div>
                                    </div>
                                    <div class="TQYOZc">
                                        <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + user.image_file}}" style="height: 2.688rem;position: absolute;margin-top: -11%;width: 2.688rem; float: right;margin-left: 76%;">
                                        <div class="lziZub sdDCme" style="text-align: left;margin-top: 3%;">
                                            <span class="Y5vSD">{{score.comment}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        {%endif%}
                    
                {%endfor%}
               {%endif%} 
              </section>
              </scroll-container>
            </div>
        </div>
    </div> 
</div>  


</section>

<script>

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  const btnStatus =document.getElementById("status");
  const btnHidden =document.getElementsByClassName("btn-downtravel")[0];
  window.addEventListener("load",()=>{
    console.log(btnStatus.textContent);
    if(btnStatus.textContent=='Se canceló tu solicitud' || btnStatus.textContent=='Rechazada' ){
      btnHidden.setAttribute("hidden",true)
    };
  })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf-8">
  var socket = io();
  socket.on('message', data => {
      location.reload()
  });
</script>



{% endblock body %}