{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}>
<link rel="stylesheet" href="./static/css/usertravelcreate.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<section id="main-slider">
  <div class="owl-carousel">
    <img class="item" src="static/slider/bn8.png" alt="">
          <div class="slider-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="column is-auto">
                          <p class="subtitle is-4"><i>¡Encontrá a tu próximo <br>compañero de viaje!</br></i></p>
                          <p class="subtitle1"><i>¿Cuál es tu siguiente paso?</i></p>
                          
                         <div class="profiletitle">
                        
                          <div class="but-slider">
                          <a class="btnprofile btn-lg btn-filledprofile boton-usa-plataforma" href="{{ url_for('search_travels') }}">Buscar Viaje</a>
                          <a class="btnprofile1 btn-lg btn-filledprofile boton-usa-plataforma" href="{{ url_for('create_travel') }}">Crear Viaje</a>
                         </div>
                        
                      </div>
                  </div>
                  <p class="subtitle2"><i>Explará los viajes disponibles</i></p>
                  <a href="#travels" class="more" > </a>
              </div>
          </div>
          
      </div><!--/.item-->
 </div>    
 </div>
<section id="travels"> 
    {% for travel in travels %}
    <ol jsname="bN97Pc" class="JwPp0e">
      <li class="gHz6xd Aopndd rZXyy">
          <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
              <div class="O7utsb bFjUmb-Tvm9db"></div>
              <div class="OjOEXb Gf8MK" {% if travel.seats == 4 or travel.seats == 3 %} style="background-color:#486a6a;box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
              <div class="OjOEXb Gf8MK" {% if travel.seats == 2 %} style="background-color:rgba(234, 141, 42, 0.96);box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
              <div class="OjOEXb Gf8MK" {% if travel.seats == 1 %} style="background-color:rgba(221, 41, 41, 0.96);box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                  <div class="R4EiSb">
                      <h2 class="prWPdf">
                          <a class="onkcGd kj3hr YVvGBb" target="_self" href="#" >
                          <div class="YVvGBb csjh4b">{{ travel.driver.name|capitalize}} {{ travel.driver.surname|capitalize}} 
                          </div></a>
                      </h2>
                  </div>
          </div>
          <div class="TQYOZc">
              <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + travel.driver.image_file}}">
              <div class="lziZub sdDCme" style="text-align: left;">
                    <div id={{travel.id}}>
                      <form class="traveldata">
                        <div  class="oriaccount"><p>Origen:</p> {{travel.origin.location | capitalize}}</div>
                        <div  class="desaccount"><p>Destino:</p> {{travel.dest.location}}</div>
                        <div  class="fecaccount"><p>Fecha:</p> <script>
                                      var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                      var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                      var f=new Date('{{ travel.travel_date.strftime("%Y-%m-%d") }}'  );
                                      document.write(diasSemana[f.getDay()] + ", " + (f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                  </script></div>
                        <div  class="horaccount"><p>Hora:</p>{{ travel.travel_hour}}</div>
                        <div  class="seatsccount"><p>Asientos disponibles</p><div class="seatssize">{{travel.seats}}</div></div> 
                        <button class="btn-uptravel" onclick="jointravel('{{travel.id}}')">Unirme al viaje</button>
                      </form>
                    
                     <!--<a class="btn-uptravel" href="{{ url_for('join_travel', id_viaje=travel.id ) }}">Unirme al viaje</a>-->
                   </div>
                  </div>
              </div>
          </div>
      </li>
  </ol>
{% endfor %}
</section> 

<script >
    const jointravel = (id) => {
        fetch('/unirme/' + id)
            .then(() => {
                console.log("se ha unido satisfactoriamente")
            })
    };
</script>


{% endblock body %}

