{% extends "base_search_travels.html" %}
{%block title%}
Buscar Viajes
{%endblock%}
{% block content %}
{% include "help.html" %}
<div class="search-travel-page">
    <div class="search-travel-aside-search">
        <div id="unirme-success"  class="myAlert-top alert1 alert-success"style="display: none; text-align:center; z-index: 1;height: 43px;border-radius: 12px;padding: 9px;width: 66%;margin-top: 1%;margin-bottom: -3%;margin-left: 18%;">
    <strong style="margin-right: 1%; display: flex;"></strong> Te has unido al viaje correctamente.  
    <a href="/userrequesttravel" class="alert-link" style=" margin-left: 1%;"> Ir a mis solicitudes de viaje</a>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{%for category, message in messages%}
{% if category == "success" %}
<div id="modal-join-success"  class="myAlert-top alert1 alert-success"style="display: flex; text-align: center; z-index: 1; height: 43px; border-radius: 12px; padding: 9px; width: 51%; margin-top: 1%; margin-bottom: -3%; margin-left: 25%;">
    <strong style="margin-right: 1%; display: flex;"></strong> {{message}} 
    <a href="/userprofile" class="alert-link" style=" margin-left: 1%;"> Ir a mis alertas</a>
</div>
{%else%}
<div id="modal-join-error"  class="myAlert-top alert1 alert-danger"style="display: flex; text-align: center; z-index: 1; height: 43px; border-radius: 12px; padding: 9px; width: 38%; margin-top: 1%; margin-bottom: -3%; margin-left: 32%;">
    <strong style="margin-right: 1%; display: flex;">Error: </strong> {{message}}
    </div> 
{% endif%}
{% endfor %}
{% endif %}
{%endwith%} 
        
        <!--<section id=tab-container class="tabs">
            <div id="tablist" role="tablist">
                <button type="button" class="tablink" disabled="true">Buscar Viajes</button>
                <button type="button" class="tablink"> <a href="{{url_for('create_travel')}}">Crear Viajes</a></button>
            </div>

        </section> -->
        <section id="search-travel-panel" style="margin-top: 8%;" >
            <h3 style="text-align: center;margin-bottom: 40px;font-size: 33px;"> Busca tu proximo viaje</h1>
            <p class="alert-msg" hidden>Se ha creado una alerta con éxito</p>
            <form method="POST" class="search-travel-form">
                {{ form.csrf_token }}
                <form method="POST" class="search-travel-form">
                    {{ form.csrf_token }}
                    <div class="p" style="display: flex;justify-content: space-around;">
                        <div class="form-group"style="inline-size: 60%;margin-left: 3%;">
                            {{ form.origin.label(class="form-control-label") }} 
                            {% if form.origin.errors %}
                                {{ form.origin(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.origin.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.origin(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                        <div class="form-group"style="inline-size: 60%;margin-left: 3%;">
                            {{ form.destination.label(class="form-control-label") }}
                            {% if form.destination.errors %}
                                {{ form.destination(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.destination.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.destination(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="p" style="display: flex;justify-content: space-around;">
                        <div class="form-group"style="inline-size: 47%;margin-left: -7%;">
                            {{ form.travel_date.label(class="form-control-label") }}
                            {% if form.travel_date.errors %}
                                {{ form.travel_date(class="form-control form-control-lg is-invalid", type="date") }}
                                <div class="invalid-feedback">
                                    {% for error in form.travel_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{form.travel_date(class="form-control form-control-lg",type="date") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" style="height: 20px">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Buscar por hora</label>
                            </div>
                     </div>
                     <div class="form-group" id="time" style=" display:none;inline-size: 31%; margin-left: -51%;">
                        {{ form.travel_time.label(class="form-control-label") }}
                        {% if form.travel_time.errors %}
                            {{ form.travel_time(class="form-control form-control-lg is-invalid", type="time") }}
                            <div class="invalid-feedback">
                                {% for error in form.travel_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.travel_time(class="form-control form-control-lg",type="time") }}
                        {% endif %}
                     </div>
                    </div>
                {% if error %}
                {{ form.radius.label(style="inline-size: 60%;margin-left: 3%;")}} {{ form.radius(type="range", min=5, max=20, step=5, list="kms")}}
                <datalist id="kms" style="display: flex; margin-left:1%">
                    <option value=5 label="5 kms"></option>
                    <option value=10 label="10 kms"></option>
                    <option value=15 label="15 kms"></option>
                    <option value=20 label="20 kms"></option>
                </datalist>
                <div class="alert-div">
                    <input type="submit" id="btn-alert" name="alert" value="🔔 Crear alerta">
                </div>
                {% endif%}
                {{ form.submit(class="btn1") }}
            </form>
        </section>
    </div>
    <div id="map"></div>
</div>
<script>
    const createAlert = () => {
        const origin = document.getElementById("origin").value;
        const dest = document.getElementById("destination").value;
        const travel_date = document.getElementById("travel_date").value;
        const travel_time = document.getElementById("travel_time").value;
        const travel = {
            'origin': origin,
            'dest': dest,
            'travel_date': travel_date,
            'travel_time': travel_time
        };
        fetch('/account/alert/create', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify(travel) // body data type must match "Content-Type" header
        })
        .then(response => {
            $("#alert-msg").toggle("display");
        });

    }
    $("#flexSwitchCheckChecked").change(()=>{
        $("#time").toggle("display")
    })
</script>
<script type="text/javascript">

    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([-32.944123,-60.6689617], 12);
    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    // Now add the layer onto the map
    map.addLayer(layer);

    const jointravel = (id) => {
        fetch('/profile/' + id + '/unirme') 
            .then(() => {
                $("#unirme-success").toggle("display");
                $(window).scrollTop(0);
            })
    };
    //travels 
    const { travels } = {{ travels|safe}};
    console.log(travels)
    /*var myIcon = L.icon({
        iconUrl: "static/slider/coche.png",
        iconSize: [20, 40],
        iconAnchor: [0, ],
        popupAnchor: [-3, -76],
        shadowSize: [68, 95],
        shadowAnchor: [22, 94]
    });*/
    if (travels !== []) {
        travels.map(travel => {
            const origin = L.marker([travel.origen.lat, travel.origen.lon]).addTo(map);
            origin.on('mouseover', function (ev) { ev.target.openPopup(); });
            const popup = '<div class="popup-map">' +
                '<div class="driver"><img src="' + travel.foto_conductor + '"></img><a href="'+travel.url_profile+'" style="font-size: 13px;margin-top: 18px;">' + travel.conductor.toUpperCase() + '</h3></div>' +
                '<div class="cantscores" style="display: flex;margin-left: 26%;font-size: 12px;margin-top: 4%;"><a class="cantscoresgood"  style="color: #8fbf8b;font-size: 14px;margin-top: -5%;margin-left: 24%;"  href="#scores" ><i class="fas fa-thumbs-up" style="margin-left: 4%;"></i>'+travel.score_bueno + '</a>' +
                '<a class="cantscoresbad"  href="#scores" style="color: #ca5656;font-size: 14px;margin-top: -5%;margin-left: 4%;"  ><i class="fas fa-thumbs-down" style="margin-left: 4%;"></i>' + travel.score_malo + '</a></div>' +
                '<b>Origen:</b>' + travel.origen.nombre +
                '<br /><b>Destino:</b>' + travel.destino.nombre +
                '<br /><b>Fecha:</b>' + travel.fecha +
                '<br /><b>Hora Salida:</b>' + travel.hora_salida +'<b>  Hora Llegada:</b>' + travel.hora_llegada +
                '<br /><b>Asientos disponibles:</b>' + travel.asientos_disp +
                `<button class="btn-join-travel" onclick=jointravel("${travel.id}")>Unirme al viaje</button></div>`
            origin.bindPopup(popup);
        })
    }
    setTimeout(function(){$("#unirme-success").hide();}, 6000);
    setTimeout(function(){$(".myAlert-top").hide();}, 6000);



</script>

{% endblock%}