{% extends "base.html" %}
{% block body %}
{% include "navbar_v2.html" %}
<link rel="stylesheet" href="./static/css/userrequesttravel.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<section id="banner1" class="bg-img" data-bg="banner.jpg"  style="linear-gradient(#e66465, #9198e5)">
{% if travel_reqs|length == 0 %}
<p class="text-travelnull">No tenés solicitudes vigentes</p>
{%else%}
    {% for travel_req in travel_reqs %}
    <ol class="JwPp0e" >
      <li class="gHz6xd Aopndd rZXyy">
          <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
              <div class="O7utsb bFjUmb-Tvm9db"></div>
              <div class="OjOEXb Gf8MK" {% if travel_req.state == 'activa'%} style="background-color:rgb(219, 105, 12);box-shadow: 0px 1px 2px #fdf9f9;" {%endif%} ></div>
              <div class="OjOEXb Gf8MK" {% if travel_req.state == 'aceptada'  %} style="background-color:rgba(5, 51, 53, 0.65);box-shadow: 0px 1px 2px #fdf9f9;" {%endif%} ></div>
              <div class="OjOEXb Gf8MK" {% if travel_req.state == 'cancelada' or travel_req.state == 'rechazada'  %} style="background-color:rgba(206, 60, 60, 0.5);box-shadow: 0px 1px 2px #fdf9f9;" {%endif%} ></div>
              <div class="OjOEXb Gf8MK" {% if travel_req.state == 'finalizada' %} style="background-color:rgba(206, 60, 60, 0.5);box-shadow: 0px 1px 2px #fdf9f9;" {%endif%} ></div>
                  <div class="R4EiSb">
                      <h2 class="prWPdf">
                          <a class="onkcGd kj3hr YVvGBb" target="_self" href="{{ url_for('passenger_profile',dni=travel_req.travel.driver.dni) }}" >
                          <div class="YVvGBb csjh4b">{{ travel_req.travel.driver.name|title}} {{ travel_req.travel.driver.surname|title}} 
                          </div></a>
                      </h2>
                      
                  </div>
                </div>
          </div>
                      {% if travel_req.state == "activa" %}
                      <div id="status" class="statusRequestPend">Pendiente de aprobación</div>
                      {%elif travel_req.state == "aceptada" %} 
                      <div id="status" class="statusRequestAcep">Solicitud Aceptada</div>  
                      {%elif travel_req.state == "rechazada" %} 
                      <div id="status" class="statusRequestRech">Solicitud Rechazada</div> 
                      {%elif travel_req.state == "cancelada" %} 
                      <div id="status" class="statusRequestCanc">Solicitud Cancelada</div> 
                      {%endif%}
          
          <div class="TQYOZc">
              <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + travel_req.travel.driver.image_file}}">
              <div class="lziZub sdDCme" style="text-align: left;">
                    <div id={{travel_req.travel.id}}>
                      <form class="traveldata">
                        <div  class="oriaccount"><p>Origen:</p> {{travel_req.travel.origin.location | title}}</div>
                        <div  class="desaccount"><p>Destino:</p> {{travel_req.travel.dest.location}}</div>
                        <div  class="fecaccount"><p>Fecha:</p> <script>
                                      var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                      var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                      var f=new Date('{{ travel_req.travel.travel_date.strftime("%Y-%m-%d") }}'  );
                                      document.write(diasSemana[f.getDay()] + ", " + (f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                  </script></div>
                        <div  class="horaccount"><p>Hora:</p>{{ travel_req.travel.travel_hour}}</div>
                      </form>
                      {%if travel_req.state != "rechazada" and travel_req.state != "cancelada" %}
                      <a class="btn-downtravel" href="{{ url_for('down_request_passenger', id_passenger=travel_req.passenger.dni,id_travel=travel_req.travel.id ) }}" >Bajarme del viaje</a>    
                      {%endif%}
        
                   </div>
                   
                  </div>
              </div>
          </div>
      </li>
  </ol>
{% endfor %} 
{%endif%}
</section>

 
{% endblock body %}-->

