{% extends "base.html" %}
{% block body %}
{% include "navbar_v2.html" %}
<link rel="stylesheet" href="./static/css/usertravelfin.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<section id="banner1" class="bg-img" data-bg="banner.jpg"  style="background:#b0afad;">
{% if travel_reqs|length == 0 %}
<p class="text-travelnull">Sin solicitudes finalizadas</p>
{%else%}
    {% for travel_req in travel_reqs %}
    {%if travel_req.dni_user==current_user.dni and travel_req.state == "finalizada" %}
    <ol class="JwPp0e" >
      <li class="gHz6xd Aopndd rZXyy">
          <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
              <div class="O7utsb bFjUmb-Tvm9db"></div>
              <div class="OjOEXb Gf8MK" style="background-color: rgba(206, 60, 60, 0.87);box-shadow: 0px 1px 2px #fdf9f9;"></div>
                  <div class="R4EiSb">
                      <h2 class="prWPdf">
                          <a class="onkcGd kj3hr YVvGBb" target="_self" href="{{ url_for('passenger_profile',dni=travel_req.travel.driver.dni) }}" >
                          <div class="YVvGBb csjh4b">{{ travel_req.travel.driver.name|title}} {{ travel_req.travel.driver.surname|title}} 
                          </div></a>
                      </h2>
                      
                  </div>
                </div>
          </div>
          <div class="prueba fin">
            <div id ="disp" class="statustravel1 fin"   {% if travel_req.state =='finalizada'%}  style="color:#c21e1ed6 "   {%endif%}  >
            {% if travel_req.state =='finalizada'%}  
                <span><i  class="fas fa-circle" aria-hidden="true" ></i></span>
                <span style="color: white;background-color: rgb(128, 15, 0);width: 87%;margin-left: 10%;">Finalizado</span>
            {%else%} 
            <div class="statustravel2" style="margin-top: 6%;"><i class="fas fa-circle" aria-hidden="true" ></i></div> 
            {%endif%}
            </div> 
        </div>   
                    
          
          <div class="TQYOZc">
              <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + travel_req.travel.driver.image_file}}">
              <div class="lziZub sdDCme" style="text-align: left;">
                    <div id={{travel_req.travel.id}}>
                      <form class="traveldata">
                        <div  class="oriaccount"><p>Origen:</p> {{travel_req.travel.origin.location | title}}</div>
                        <div  class="desaccount"><p>Destino:</p> {{travel_req.travel.dest.location}}</div>
                        <div  class="fecaccount"><p>Fecha:</p> <script>
                                      var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                      var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                      var f=new Date('{{ travel_req.travel.travel_date.strftime("%Y-%m-%d") }}'  );
                                      document.write(diasSemana[f.getDay()] + ", " + (f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                  </script></div>
                        <div  class="horaccount"><p>Hora:</p>{{ travel_req.travel.travel_hour}}</div>
                      </form>
                      {%if scores|length ==0 %}
              <a class="btn-scoretravel" data-toggle="modal" data-target="#sendModal" style="color: white;" >Calificar viaje</a>
              <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="sendModalLabel">¿Cómo fue tu viaje?</h5>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <form action="{{ url_for('new_post', id_passenger=current_user.dni,travel_id=travel_req.travel.id ) }}" method="POST" class="score">
                          <div class="scores_v1">     
                            <input id="point-0" name="point" type="radio" value="1"><i class="fas fa-thumbs-up"></i>
                            <input id="point-1" name="point" type="radio" value="0"><i class="fas fa-thumbs-down"></i>
                          </div>             
                          <div class="form-group">
                                {{ form.comment.label(class="form-control-label") }}
                                {% if form.comment.errors %}
                                    {{ form.comment(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.comment.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{form.comment(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                           {{ form.submit2(class="btn-scoretravel") }}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {%else%}
               {% if travel_req.travel_id ==travel_req.score.travel_id %}
                <div class="statustravelscore"><p> ¡Viaje calificado! </p></div>
                {%else %}
                <a class="btn-scoretravel" data-toggle="modal" data-target="#sendModal" style="color: white;" >Calificar viaje</a>     
                <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="sendModalLabel">¿Cómo fue tu viaje?</h5>
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <form action="{{ url_for('new_post', id_passenger=current_user.dni,travel_id=travel_req.travel.id ) }}" method="POST" class="score">
                            <div class="scores_v1">     
                              <input id="point-0" name="point" type="radio" value="1"><i class="fas fa-thumbs-up"></i>
                              <input id="point-1" name="point" type="radio" value="0"><i class="fas fa-thumbs-down"></i>
                            </div>             
                            <div class="form-group">
                                  {{ form.comment.label(class="form-control-label") }}
                                  {% if form.comment.errors %}
                                      {{ form.comment(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.comment.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{form.comment(class="form-control form-control-lg") }}
                                  {% endif %}
                              </div>
                              {{ form.submit2(class="btn-scoretravel") }}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {%endif%}
            {%endif%}
                   </div>
                   
                  </div>
              </div>
          </div>
      </li>
  </ol>
{%endif%}
{% endfor %} 
{%endif%}
</section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous">
  </script>
  
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('message', data => {
        location.reload()
    });
  </script>   
{% endblock body %}-->

