{% extends "base.html" %}
{% block body %}
{% include "navbar_v2.html" %}
{% include"help.html" %}

<link rel="stylesheet" href="./static/css/userprofile.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<section id="banner" class="bg-img" data-bg="banner.jpg" style="background:#b0afad; height:100%;display: flex;
  padding-top: 19px;
  flex-direction: column;">

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {%for category, message in messages%}
        {% if category == "success" %}
        <div id="modal-join-success"  class="myAlert-top alert1 alert-success" style="display: flex;z-index: 1;height: 43px;border-radius: 12px; padding: 9px;">
            <strong style="margin-right: 1%; display: flex;"></strong> ¡Tu perfil se actualizó correctamente!
        </div>
        {% else%}
        <div id="modal-join-error"  class="myAlert-top alert1 alert-danger" style="display: flex;z-index: 1;">
          <strong style="margin-right: 1%; display: flex;"></strong> ¡Error al actualizar tu perfil!
        </div>
        {% endif%}
    {% endfor %}
    {% endif %}
    {%endwith%}
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ image_file }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="cantscores ">         
                      <a class="cantscoresgood" href="#scores" ><i class="fas fa-thumbs-up" style="margin-left: 4%;"></i>{{scoresgood}} </a>
                      <a class="cantscoresbad" href="#scores"  ><i class="fas fa-thumbs-down" style="margin-left: 4%;"></i>{{scoresbad}}</a>
                     </div>   
                    <div class="mt-3">
                      <h4>{{current_user.name|title}} {{current_user.surname|title}}</h4>
                      <p class="text-secondary mb-1"></p>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-bottom: -6px;" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <a href="https://www.instagram.com/{{current_user.name}}/"><span class="text-secondary1">{{current_user.name|title}}{{current_user.surname|title}}</span></a>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" style="margin-bottom: -15px;">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-bottom: -6px;" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                            <a href="https://www.facebook.com/{{current_user.name}}{{current_user.surname}}/"><span class="text-secondary1" >{{current_user.name|title}}{{current_user.surname|title}}</span></a> 
                          </li>
                        </ul>
                      </div>
                      <button class="btn btn-primary" onclick=showHideAlerts(event)>Alertas</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body1">
                  <a href="{{ url_for('update_profile',dni=current_user.dni) }}">
                    <svg class="octicon octicon-pencil-profile" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                      <path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path>
                    </svg>
                  </a>
                  <h2 class="text-score1">Información</h2>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Usuario:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{current_user.username}}
                    </div>
                  </div>
                  <hr style=" border-top: 2px solid rgba(32, 64, 81, 0.35);">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{current_user.email}}
                    </div>
                  </div>
                  <hr style=" border-top: 2px solid rgba(32, 64, 81, 0.35);">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Celular:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {%if current_user.phone is none %}
                      Sin registrar
                      {%else%}
                      {{current_user.phone}}
                      {%endif%}
                    </div>
                    
                    <div class="col-sm-5" style="margin-top: 4%; margin-left:-3%;">
                      <h6 class="mb-0">Visible publicamente:</h6>
                    </div>
                    <div class="col-sm-3 check" style=" margin-top: 4%;margin-left: -7%;">
                      <input type="checkbox" id="visible" onclick="setVisible()" {%if current_user.phone_visible == 1 %} checked {%endif%}>
                    </div>
                </div>
                  <hr style=" border-top: 2px solid rgba(32, 64, 81, 0.35);">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Comentario:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {%if current_user.content is none %}
                      Sin comentario
                      {%else%}
                      {{current_user.content}}
                      {%endif%}
                    </div>
                  </div>
                  <hr style=" border-top: 2px solid rgba(32, 64, 81, 0.35);">
                </div>
              </div>
              
            </div>
            <div class="card-body3">
              <scroll-container>
                <section id="scores">
                  <h2 class="text-score">Calificaciones</h2>
                  {% if scores_passenger|length == 0 %}
                    <p class="text-scorenull1">Aún no recibiste calificaciones por parte de pasajeros</p>
                  {%else%}
                  <p class="text-scorenull" style=" color:rgb(52, 58, 64); font-size: 15px; text-decoration: underline;">Pasajeros que viajaron con vos</p> 
                    {%for score in scores_passenger %}
                    {%for user in users%}
                        {%if score.passenger_id==user.dni %}
                            <ol jsname="bN97Pc" class="JwPp0e">
                                <li class="gHz6xd Aopndd rZXyy">
                                    <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
                                        <div class="O7utsb bFjUmb-Tvm9db"></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 1 %} style="background-color:#54804bc7;box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 0 %} style="background-color:rgba(206, 60, 60, 0.87);box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="R4EiSb">
                                                <h2 class="prWPdf">
                                                    <a class="onkcGd kj3hr YVvGBb" target="_self" href="#" >
                                                    <div class="YVvGBb csjh4b">{{user.name|title}} {{user.surname|title}}
                                                      <div class="kj3hr YVvGBb jJIbcc">
                                                        <script>
                                                          var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                                          var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                                          var f=new Date('{{score.date_posted.strftime("%Y-%m-%d") }}'  );
                                                          document.write((f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                                       </script>
                                                       </div>
                                                        {%if score.point == 1%}
                                                        <i class="fas fa-thumbs-up" style="margin-left: 87%;margin-top: -14%;position: absolute;"></i>
                                                        {%else%}
                                                        <i class="fas fa-thumbs-down"style="margin-left: 87%;margin-top: -12.5%;position: absolute;"></i>
                                                        {%endif%}
                                                    </div></a>
                                                </h2>
                                            </div>
                                    </div>
                                    <div class="TQYOZc">
                                        <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + user.image_file}}" style="height: 2.688rem;position: absolute;margin-top: -11%;width: 2.688rem; float: right;margin-left: 76%;">
                                        <div class="lziZub sdDCme" style="text-align: left;margin-top: 3%;">
                                            <span class="Y5vSD">{{score.comment}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        {%endif%}
                    {%endfor%}
                {%endfor%}
               {%endif%}
               {% if scores_driver|length == 0 %}
                    <p class="text-scorenull">Aún no recibiste calificaciones de conductores</p>
                  {%else%}
                  <hr style=" border-top: 2px solid rgba(32, 64, 81, 0.35); border-bottom: none;">  
                  <p class="text-scorenull" style=" color:rgb(52, 58, 64); font-size: 15px; text-decoration: underline;">Calificaciones de conductores</p></hr>
                    {%for score in scores_driver %}
                    {%for user in users%}
                        {%if score.travel_driver_id==user.dni %}
                            <ol jsname="bN97Pc" class="JwPp0e">
                                <li class="gHz6xd Aopndd rZXyy">
                                    <div class="Tc9hUd DShyMc-MzA5MDg5NDcxMDM4">
                                        <div class="O7utsb bFjUmb-Tvm9db"></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 1 %} style="background-color:#54804bc7;box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="OjOEXb Gf8MK" {% if score.point == 0 %} style="background-color:rgba(206, 60, 60, 0.87);box-shadow: 0px 0px 3px #999;" {%endif%} ></div>
                                            <div class="R4EiSb">
                                                <h2 class="prWPdf">
                                                    <a class="onkcGd kj3hr YVvGBb" target="_self" href="#" >
                                                    <div class="YVvGBb csjh4b">{{user.name|title}} {{user.surname|title}}
                                                      <div class="kj3hr YVvGBb jJIbcc">
                                                        <script>
                                                          var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                                                          var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                                                          var f=new Date('{{score.date_posted.strftime("%Y-%m-%d") }}'  );
                                                          document.write((f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                                                       </script>
                                                       </div>
                                                        {%if score.point == 1%}
                                                        <i class="fas fa-thumbs-up" style="margin-left: 87%;margin-top: -14%;position: absolute;"></i>
                                                        {%else%}
                                                        <i class="fas fa-thumbs-down"style="margin-left: 87%;margin-top: -12.5%;position: absolute;"></i>
                                                        {%endif%}
                                                    </div></a>
                                                </h2>
                                            </div>
                                    </div>
                                    <div class="TQYOZc">
                                        <img class="rounded-circle article-imgcal" src="{{'/static/profile_pics/' + user.image_file}}" style="height: 2.688rem;position: absolute;margin-top: -11%;width: 2.688rem; float: right;margin-left: 76%;">
                                        <div class="lziZub sdDCme" style="text-align: left;margin-top: 3%;">
                                            <span class="Y5vSD">{{score.comment}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        {%endif%}
                    {%endfor%}
                {%endfor%}
               {%endif%}
              </section>
              </scroll-container>
            </div>
            <div id="alerts" class="card col-md-11" style="margin: auto; height:30%" hidden>
              {% include "alerts.html" %}
            </div>
        </div>
    </div> 
</div>  


</section>

<script>

  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  const btnStatus =document.getElementById("status");
  const btnHidden =document.getElementsByClassName("btn-downtravel")[0];
  window.addEventListener("load",()=>{
    console.log(btnStatus.textContent);
    if(btnStatus.textContent=='Se canceló tu solicitud' || btnStatus.textContent=='Rechazada' ){
      btnHidden.setAttribute("hidden",true)
    };
  })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf-8">
  var socket = io();
  socket.on('message', data => {
      location.reload()
  });
  
  function showHideAlerts(e) {
    const alertSection = document.getElementById("alerts");
    if (alertSection.hasAttribute("hidden")) {
      alertSection.removeAttribute("hidden");
    }
    else {
      alertSection.setAttribute("hidden", "true");
    }
  }

  function setVisible(e){
    const visibleBtn = $("#visible")
    let visible = 0;
    if (visibleBtn.is(':checked')){
      visible=1;
    }
    fetch("/setvisible/"+visible);
  }
  setTimeout(function(){$(".myAlert-top").hide();}, 6000);
</script>



{% endblock body %}