{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}>
<link rel="stylesheet" href="./static/css/userrequesttravel.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    {% for travel_req in travel_reqs %}
    {%if travel_req.dni_user==current_user.dni and travel_req.state != "finalizada" %}
    <div id="browser">
      <div id="browser-bar">
        <img class="rounded-circle article-img" src="{{'/static/profile_pics/' + travel_req.travel.driver.image_file}}">
          <a class="mr-2" href="#">{{ travel_req.travel.driver.name|capitalize}} {{ travel_req.travel.driver.surname|capitalize}} </a> 
          {% if travel_req.state == "activa" %}
         <div id="status" class="statusRequestPend">Pendiente de aprobación</div>
         {%elif travel_req.state == "aceptada" %} 
         <div id="status" class="statusRequestAcep">Solicitud Aceptada</div>  
         {%elif travel_req.state == "rechazada" %} 
         <div id="status" class="statusRequestRech">Solicitud Rechazada</div> 
         {%elif travel_req.state == "cancelada" %} 
         <div id="status" class="statusRequestCanc">Solicitud Cancelada</div> 
         {%endif%}
        </div>
      <div id="content">
        <div id="right">
          <div id="mapa-{{travel_req.travel.id}}" class="map">
            <p>Ruta del viaje</p>
          </div>
        </div>
        <div id="left">
          <form>
            <div  class="oriaccount"><p>Origen:</p> {{travel_req.travel.origin.location | capitalize}}</div>
            <div  class="desaccount"><p>Destino:</p> {{travel_req.travel.dest.location}}</div>
            <div  class="fecaccount"><p>Fecha:</p> <script>
                              var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                              var diasSemana = new Array("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo");
                              var f=new Date('{{ travel_req.travel.travel_date.strftime("%Y-%m-%d") }}'  );
                              document.write(diasSemana[f.getDay()] + ", " + (f.getDate()+1) + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                          </script></div>
              <div  class="horaccount"><p>Hora:</p>{{ travel_req.travel.travel_hour}}</div>
          </form>
          {%if travel_req.state != "rechazada" and travel_req.state != "cancelada" %}
          <a class="btn-downtravel" href="{{ url_for('down_request', id_passenger=travel_req.passenger.dni,id_travel=travel_req.travel.id ) }}" >Bajarme del viaje</a>    
          {%endif%}
        </div>
    </div>
  </div>
    {%endif%}
    <script type="text/javascript">
      var map = L.map('mapa-{{travel_req.travel.id}}').setView([-32.9478683, -60.7210182], 12);
      var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
      });
      map.addLayer(layer);
    </script>
    {% endfor %} 
    </div>
{% endblock body %}-->